
<style>
    #save{
        width: 35px;
        height: 35px;
        position: absolute;
        right: 1rem;
        top: 5rem;
        background: none;
        border-radius: 50px;
        border: 1px solid black;
        cursor: pointer;
        transition: border .3s;
        transition: background-color .3s;
        text-align: center;
    }
    #save_none{
        width: 35px;
        height: 35px;
        position: absolute;
        right: 1rem;
        top: 5rem;
        background: rgb(224, 7, 0);
        border-radius: 50px;
        border: 1px solid black;
        cursor: pointer;
        transition: border .3s;
        transition: background-color .3s;
        text-align: center;
    }

    #save:hover, #save_none:hover{
        border-radius: 50px;
        border: 2px solid black;
        background: #F7FF93;
    }

    #delete{
        width: 35px;
        height: 35px;
        position: absolute;
        right: 3.5rem;
        top: 5rem;
        background: none;
        border-radius: 50px;
        border: 1px solid black;
        cursor: pointer;
        transition: border .3s;
        transition: background-color .3s;
        text-align: center;
    }

    #delete:hover{
        border-radius: 50px;
        border: 2px solid black;
        background: #F7FF93;
    }

</style>

<button (click)="addBeosztas()" id="save" title="Beosztás mentése"  mat-icon-button>
    <mat-icon>download</mat-icon>
</button>
<button (click)="clearBeosztas()" id="delete" title="Mentés törlése"  mat-icon-button>
    <mat-icon>delete</mat-icon>
</button>

<app-b-view></app-b-view>

<div *ngIf="(assignments$ | async) as assignments">
    <ng-container *ngIf="assignments.length > 0; else empty">
    </ng-container>
    <ng-template #empty> 
    <button (click)="addBeosztas()" id="save_none" title="Nincs mentve!"  mat-icon-button>
        <mat-icon>download</mat-icon>
    </button>

    </ng-template>
 </div>

 
 