div#tables{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 7rem;
}

table{
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-left: auto;
    margin-right: auto;
    min-width: 5rem;
}


.assignments{
    position: absolute;
    display: flex;
    flex-direction: column;
}

#modify:hover{
    border: 6px black solid;
}
