<style>
    .data{
        width: 150%;
        margin-left: .5rem;
        font-size: 1.1rem;
        padding: .20rem;
        font-style: normal;        
        font-weight: lighter;

    }
    .title{
        font-size: 1.1rem;
        font-style: italic;   
        font-weight: bolder;      
    }    

    @media screen and (max-width: 1650px){
        span{
            font-size: 100%;
        }
        td{
            font-size: 100%;
        }
    }
    @media screen and (max-width: 1430px){
        span{
            font-size: calc(30% + 1vw);
            width: fit-content;
            transform: translate(-5%);
        }
        td{
            font-size: calc(10% + 1vw);
            transform: translate(-10%);
          
        }
    }
    @media screen and (max-width: 959px){
        span{
            font-size: calc(60% + 1vw);
            width: 10rem;
            transform: translate(-5%);
        }
        td{
            font-size: calc(45% + 1vw);
            transform: translate(-10%);
        }
    }
</style>

<span class="title">Rendelés neve: <td class="data"> {{rname}} </td></span>
<span class="title">Ideje:<td class="data"> {{begin}}-{{end}}</td></span>
<span class="title">Asszisztens:<td class="data"> {{assistant}}</td></span>
<span class="title">Orvos: <td class="data"> {{doctor}}</td></span>

