<link rel="stylesheet" href="add-bar.component.css">
<!--*ngIf="page==='kategoriak'"-->
<div sight id="b_container"></div>
<style>
    mat-form-field{
        margin: .6rem;
    }
</style>

<div class="inputnone_container" *ngIf="page==='rendelesek'">
            <form [formGroup]="rendelesForm" (ngSubmit)="callAddCouldWork()">
                <mat-form-field>
                    <input matInput placeholder="Nap" class="input" list="napok" formControlName="day">
                    <datalist id="napok" *ngFor="let item of assistants" >
                        <option value="Hétfő">Hétfő</option>
                        <option value="Kedd">Kedd</option>    
                        <option value="Szerda">Szerda</option>
                        <option value="Csütörtök">Csütörtök</option>    
                        <option value="Péntek">Péntek</option>    
                        <option value="Szombat">Szombat</option>    
                        <option value="Vasárnap">Vasárnap</option>    
                    </datalist>
                </mat-form-field>
              
        
       

        <mat-form-field>
            <input matInput class="input" placeholder="Rendelés neve" type="text" formControlName="rname">
        </mat-form-field>    
        <mat-form-field>
            <input matInput class="input" placeholder="Kezdete" type="text" formControlName="begin">
        </mat-form-field>            
        <mat-form-field>
            <input matInput class="input" placeholder="Vége" type="text" formControlName="end">
        </mat-form-field>            
        <mat-form-field>
            <input matInput class="input" placeholder="Orvos" type="text" formControlName="doctor">
        </mat-form-field>
    
        <button type="submit" class="submit_none" value="Ok" >OK</button>
        </form>
</div>



<div style="margin-left: 5rem;" *ngIf="page==='asszisztensek'" class="inputnone_container">
    <mat-form-field><mat-label  for="name">Név</mat-label><input matInput  id="name" class="input" type="text" [formControl]="name"></mat-form-field>
    <span>
        <button mat-raised-button (click)="callAddAssistant()" style=" margin-top: .5rem;" class="submit_none" value="Ok">Oké</button>
    </span>
</div>

<div class="inputnone_container" *ngIf="page==='beosztasok'">
    <style>
        mat-form-field{
           margin: .6rem;
        }
    </style>
     
     <mat-form-field>
        <input matInput placeholder="Új asszisztens" class="input" list="Új asszisztens" [formControl]="asszisztens_id">
        <datalist id="Új asszisztens">
           <option *ngFor="let item of assistants" value="{{item['id']}}">{{item['name']}}</option>
        </datalist>
     </mat-form-field>
     <mat-form-field>
        <input matInput placeholder="Új rendelés" class="input" list="Új rendelés" [formControl]="rendeles_id">
        <datalist id="Új rendelés">
           <option *ngFor="let item of couldWork" title="-{{item['doctor']}}" value="{{item['id']}}">{{item['rname']}}</option>
        </datalist>
     </mat-form-field>          
     
       
     <button mat-raised-button type="button" class="submit_none" (click)="callAddAssignment()">Ok</button>
</div>
