/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
h1{
    margin-top: 3rem !important; 
    text-align: center !important;
    letter-spacing: .25rem !important;
    font-size: 150% !important;
    position: absolute !important; 
}
table{

    height: 0;
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Source Sans Pro', sans-serif;
}
html, body { height: 100%; }
body { margin: 0;}
