
<style>
   
    th{
        position: relative;
        font-size: 150%;
        justify-content: center;
        letter-spacing: .25rem;
    }
   
    @media screen and (max-width: 1650px){
        th{
            font-size: 100%;
        }
    }
    @media screen and (max-width: 1430px){
        th{
            font-size: 80%;
        }
    }
    table{
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 5rem;
    }

    .data{
        width: .5rem;
        position: absolute;
    }
</style>

<table>
    <tr> 
        <th>Nap</th>
        <th>Kezdete</th>
        <th>Vége</th>
        <th>Neve</th>
        <th>Orvos</th>
    </tr>
    
    <tr id="rendeles" class="rendelesek" *ngFor="let obj of couldWork">            
            <td class="{{obj.id}}" id="day">{{obj.day}}</td>
            <td class="{{obj.id}}" id="begin">{{obj.begin}}</td>
            <td class="{{obj.id}}" id="end">{{obj.end}}</td>
            <td class="{{obj.id}}" id="rname">{{obj.rname}}</td>
            <td class="{{obj.id}}" id="doctor">{{obj.doctor}}</td>
            <span class="{{obj.id}}">
                <button change_r style="background-color: #F7FF93; color: black; margin: .2rem;" mat-raised-button value={{obj.id}}>Módosítás</button>
                <button style="background-color: #F7FF93; color: black; margin: .2rem;" mat-raised-button (click)="handleDel(obj.id)" value={{obj.id}}>Törlés</button>
            </span>
    </tr>
    
</table>